@import "tailwindcss";

@theme {
  --color-background: white;
  --color-second-background: #1c1c1c;
  --color-disabled: gray;
  --color-accent: #ffd700;

  --color-textColor: black;

  --breakpoint-xs: 30rem;
  --breakpoint-2xs: 25rem;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
