@import "tailwindcss";

@theme {
  --color-background: white;
  --color-second-background: #1c1c1c;
  --color-disabled: gray;
  --color-accent: #ffd700;

  --color-textColor: black;

  --breakpoint-xs: 30rem;
  --breakpoint-2xs: 25rem;

  /* Animations  */
  --animate-infinite-scroll: infinite-scroll 25s linear infinite;
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

html {
  scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
